<!DOCTYPE html>
<html>
<head>
	<title>ReactJS</title>
	<script src="lib/react.min.js"></script>
	<script src="lib/react-dom.min.js"></script>
	<script src="lib/browser.min.js"></script>

</head>
<style >
	.do{
		color: red;
	}
</style>
<body>
	<center>
	BÀI TẬP 4
	<div id="root"></div>
	<script type="text/babel" src="js/4RenderHTMLtuString.js"></script>
	</center>
</body>
</html>
